<h1>Credits</h1>
<p class="other">
  View credits for Blaseball:
  <a href="/_before/jump?redirect=%2Foffseason&time=2020-10-25T19%3A15%3A00Z">The Discipline Era</a>
  &middot;
  <a href="/_before/jump?redirect=%2F&time=2021-07-30T22%3A30%3A00Z">The Expansion Era</a>
</p>

<h2>Society for Internet Blaseball Research<br />Archival Staff</h2>
<ul>
  <li>iliana quorum</li>
  <li>Astrid Reblase</li>
  <li>Allie Signet</li>
  <li>UnderMybrella</li>
</ul>

<h2>Quality Assurance</h2>
<ul>
  <li>fionna adams</li>
</ul>

<h2>Additional Infrastructure Support</h2>
<ul>
  <li>Dillon Lareau</li>
</ul>

<h2>Special Thanks</h2>
<ul>
  <li>jan Sopi</li>
  <li>The Game Band</li>
  <li>Blaseball Wiki admins, historians, and contributors</li>
  <li>The SIBR Community</li>
</ul>

<p><strong>We are all love Blaseball</strong></p>
