#_before {
    background: #222;
    color: white;
    border-bottom: 1px solid #444;
    font-family: "Lora", "Courier New", monospace, serif;
    line-height: 1.5;

    width: 100%;
    padding: 0.5em calc(50% - 512px);

    display: flex;
}

body.theme-light #_before {
    background: #ddd;
    color: black;
    border-bottom-color: #bbb;
}

#_before_title {
    font-weight: 700;
}

#_before_adjust {
    margin-left: auto;
}

#_before_adjust div {
    display: inline-block;
    padding: 0 0.5em;
}

#_before_adjust a {
    display: inline-block;
    line-height: 1.25;
    width: 1.25em;
    text-align: center;
    background-color: #444;
    border: 1px solid #666;
    border-radius: 50%;
}

body.theme-light #_before_adjust a {
    background-color: #bbb;
    border-color: #999;
}

#_before_adjust abbr {
    padding: 0 0.25em;
}

@media (max-width: 1080px) {
    #_before {
        padding: 0.25em 20px;
    }
}
