<!DOCTYPE html>
<html class="tw-before-scope">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/static/media/favicon-32x32.png" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="&#x1FA78; Do you remember before? &#x1FA78;" />
    <title>Before</title>
    <link rel="stylesheet" href="/_before/assets/styles.css" />
  </head>

  <body class="tw-bg-black tw-text-white tw-text-sm lg:tw-text-base">
    {{nav|safe}}{% block content %}
    <div class="tw-container tw-py-4">{{content|safe}}</div>
    {% endblock %}
  </body>
</html>
