<div id="_before">
    <div id="_before_title"><a href="/_before/start">Before</a></div>
    <div id="_before_current"></div>
    <div id="_before_spacer"></div>
    <a class="_before_svg _before_control" href="/_before/relative?minutes=-5" title="Skip back 5 minutes">
        {% include "back-5m.svg" %}
    </a>
    <a class="_before_svg _before_control" href="/_before/relative?seconds=-30" title="Skip back 5 minutes">
        {% include "back-30.svg" %}
    </a>
    <form action="/_before/jump" method="get">
        <input type="number" name="season" placeholder="Season">
        <input type="number" name="day" placeholder="Day">
        <input type="submit" value="Go">
    </form>
    <a class="_before_svg _before_control" href="/_before/relative?seconds=30" title="Skip forward 5 minutes">
        {% include "forward-30.svg" %}
    </a>
    <a class="_before_svg _before_control" href="/_before/relative?minutes=5" title="Skip forward 5 minutes">
        {% include "forward-5m.svg" %}
    </a>
</div>
