<div id="_before">
    <div id="_before_title">Before</div>
    <div id="_before_adjust">
        <div><span id="_before_current-time"></span></div>
        <div><a href="/_before/relative?seconds=-900">&minus;</a>&nbsp;<abbr title="15 minutes">15m</abbr>&nbsp;<a href="/_before/relative?seconds=900">&plus;</a></div>
        <div><a href="/_before/relative?hours=-1">&minus;</a>&nbsp;<abbr title="1 hour">1h</abbr>&nbsp;<a href="/_before/relative?hours=1">&plus;</a></div>
        <div><a href="/_before/relative?days=-1">&minus;</a>&nbsp;<abbr title="1 real-time day">1d</abbr>&nbsp;<a href="/_before/relative?days=1">&plus;</a></div>
        <div><a href="/_before/relative?weeks=-1">&minus;</a>&nbsp;<abbr title="1 week">1w</abbr>&nbsp;<a href="/_before/relative?weeks=1">&plus;</a></div>
    </div>
</div>
