<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Before</title>
    <meta name="description" content="&#x1FA78; Do you remember before? &#x1FA78;" />
    <link rel="stylesheet" href="../static/fonts.css" />
    <link rel="stylesheet" href="../static/styles.css" />
    <link rel="icon" href="../static/media/favicon-32x32.png" />
    <meta name="theme-color" content="#000000" />
  </head>

  <body class="tw-bg-black">
    <!-- nav bar -->
    <div class="tw-bg-neutral-900 tw-text-white tw-border-b tw-border-neutral-800 tw-font-serif tw-antialiased tw-py-2">
      <div class="tw-container tw-max-w-screen-lg tw-mx-auto">
        <a href="/_before/start" class="tw-font-bold tw-no-underline hover:tw-underline">Before</a>
      </div>
    </div>

    <!-- content -->
    <div class="tw-container tw-max-w-screen-lg tw-text-white tw-font-serif tw-antialiased tw-mx-auto">
      <div class="tw-flex tw-items-end tw-font-bold tw-mt-2.5 tw-mb-5">
        <h1 class="tw-text-6xl tw-leading-[1.2] tw-uppercase">Blaseball</h1>
        <div
          class="tw-text-sm tw-leading-[1.5] tw-font-sans tw-m-2.5 tw-p-[5px] tw-rounded-[3px] tw-bg-[#656565]/[.65]"
        >
          BETA
        </div>
      </div>

      <p class="tw-text-center tw-text-lg tw-italic">
        <strong>Before</strong> replays Blaseball from any moment recorded by the SIBR archives.
      </p>
    </div>
  </body>
</html>
