@charset "utf-8";

/* we explicitly do not want *any* tailwind rules to affect Blaseball's CSS. however, tailwind's `important` option
 * does not namespace the base styles, including preflight/reset.
 *
 * this produces a warning because some of the resulting rules are nonsensical (see
 * https://github.com/tailwindlabs/tailwindcss/pull/6011), but we don't care because it does what we need. */
.tw-before-scope {
  @tailwind base;
  @tailwind components;
}

/* the utilities layer _is_ prefixed with the `important` class, so it shouldn't be nested. */
@tailwind utilities;

@layer base {
  /* this rule becomes `.tw-before-scope` because of nesting */
  & {
    @apply tw-font-serif tw-antialiased;

    /* copy the defaults for preflight's `html` rule, because we are doing nesting crimes */
    @apply tw-leading-normal;
    text-size-adjust: 100%;
    tab-size: 4;
  }

  a {
    @apply hover:tw-underline;
  }

  details > summary {
    @apply tw-list-none;
  }

  details > summary::marker,
  details > summary::-webkit-details-marker {
    @apply tw-hidden;
  }

  details > dl dt {
    @apply tw-inline tw-font-bold tw-pr-2 lg:tw-pr-3;
  }

  details > dl dd {
    @apply tw-inline;
  }
}

@layer components {
  .tw-before-list li {
    @apply tw-inline;
  }

  .tw-before-list li:not(:last-child):after {
    @apply tw-px-1 lg:tw-px-1.5;
    content: "\00a0• ";
  }
}

.Shop-Item-Icon {
  /* older versions of Safari don't support the fit-content value, instead naming it 'intrinsic'. */
  height: intrinsic;
}

body.tw-before-eyes-fix .Main {
  background-image: none;
}

/*
 * original URLs via firefox:
 * - https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap
 * - https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap&text=%CA%BB
 * - https://fonts.googleapis.com/css2?family=Open+Sans:wght@400..700&display=swap
 * - https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@400;700&display=swap&text=%CA%BB
 *
 * we include both normal and italic as "Lora Before", and just normal as "Lora", so that the game client shows the fake obliques for lōotcrates.
 * Open Sans is missing the ʻokina, so we use Noto Sans Display for it, because the fonts are extremely similar.
 */

@each $family in "Lora", "Lora Before" {
  /* latin-ext */
  @font-face {
    font-family: $family;
    font-style: normal;
    font-weight: 400 700;
    font-display: swap;
    src: url(lora/v23/0QIvMX1D_JOuMwT7I_FMl_GW8g.woff2) format("woff2");
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: $family;
    font-style: normal;
    font-weight: 400 700;
    font-display: swap;
    src: url(lora/v23/0QIvMX1D_JOuMwr7I_FMl_E.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
      U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
}

/* latin-ext */
@font-face {
  font-family: "Lora Before";
  font-style: italic;
  font-weight: 400 700;
  font-display: swap;
  src: url(lora/v23/0QIhMX1D_JOuMw_LL_tLtfOm84TX.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Lora Before";
  font-style: italic;
  font-weight: 400 700;
  font-display: swap;
  src: url(lora/v23/0QIhMX1D_JOuMw_LIftLtfOm8w.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(opensans/v28/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSGmu0SC55K5gw.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(opensans/v28/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-mu0SC55I.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122,
    U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* ʻokina */
@font-face {
  font-family: "Open Sans"; /* actually Noto Sans Display */
  font-style: normal;
  font-weight: 400 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(notosansdisplay/v13/RLpWK4fy6r6tOBEJg0IAKzqdFZVZxpMkXJMhnB9XjO1o90L0WcElOKej-d0S.woff2) format("woff2");
  unicode-range: U+02BB;
}
